.card {
    white-space: pre-wrap;
    border-radius: 20px;
}

.card-header:defined {
    border-radius: 20px 20px 0 0;
}

.card-header.collapsed {
    background-color: cadetblue;
    border-radius: 20px;
    cursor: pointer;
}

.card-header, 
.card-header:hover {
    background-color: rgb(106, 95, 167);
}

.btn, 
.btn:hover {
    color: white;
}

.card-body {
    background-color: rgb(62, 138, 199);
    color: white;
    border-radius: 0 0 20px 20px;
}