#panel1a-content {
    white-space: pre-wrap;
    background-color: cadetblue;
}

.MuiAccordion-root.MuiAccordion-rounded{
    border-radius: 20px;
}

.MuiAccordion-root.MuiAccordion-rounded.Mui-expanded{
    border-radius: 20px;
}

.MuiAccordionSummary-root.Mui-expanded{
    background-color: cadetblue;
    color: white;
    border-radius: 20px 20px 0 0;
}

.MuiAccordion-region{
    border-radius: 0 0 20px 20px;
}

.MuiAccordionDetails-root{
    background-color: rgb(62, 138, 199);
    color: white;
    border-radius: 0 0 20px 20px;
}