.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0px;
	background: rgba(0, 0, 0, 0.2);
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(0px);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	transition: all 800ms;
}
.overlay:hover{
	-webkit-backdrop-filter: blur(10px);
}

.modal-content {
	width: 50%;
	max-width: 50%;
	height: auto;
	max-height: 95%;
	background: #fff;
	position: relative;
	border-radius: 10px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	padding: 2rem;
	overflow-y: auto;
}

.modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2rem;
	padding-bottom: 1rem;
	border-bottom: 2px solid #959595;
}

.modal-header > h2{
    font-weight: 500;
    font-size: 1.5em;
    color: #959595;
}

.close-button{
	position: absolute;
	color: #959595;
	top: 2rem;
	right: 2rem;
	cursor: pointer;
	transition: 0.2s;
	font-size: 2.5rem;
}

.close-button:hover{
    color: red;
}